#result>p {
    font-size: 1.5em;
}
#container-1 {
    margin-top: 3vh;
}
::placeholder {
    background-color: rgba(191, 206, 231, 0.5);
}
label {
    background-color: rgba(48,84,145,0.3);
    color:white;
}
.form-control {
    background-color: rgba(48,84,145,0.3);
    color: white;
}
select {
    background-color: rgba(48,84,145,0.5);
}