<div>
    <h1>What should II eat?</h1>
    <form>
        <input name=submit type=submit value=submit>GO</button>
    </form>
    <h1>{{restaurant}}</h1>
    <a href='/iieat/add'> Add something! </a>
</div>
