<!doctype html>
<html>
    <head>
        <title> Y g g d 2 m i r</title>
        {{{head}}}
    </head>
    <body>
        <link rel='stylesheet' href="/style/main.css">
        {{{body}}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <footer>
            <p>Total visitor: {{VisitCnt}}</p>
        </footer>
    </body>
</html>