body {
  font-family: 'Ancient-Modern-Tales';
  background-image: url('/img/bg.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(10, 20, 60);
}

.App {
  display: grid;
  grid-template-rows: 50px 200px 400px 150px auto;
  grid-gap: 10px;
}

p {
  color: white;
}

.center {
  margin: auto;
}
.message {
  display: flex;
  justify-content: center;
}

.sect {
  text-align: center;
  display: grid;
  grid-template-rows: 15px;
}
#d-intro {
  height: 150px;
}
#d-title {
  line-height: 100px;
}

#chatbox {
  display: grid;
  grid-template-rows: 30px auto;
}
#messages {
  display: grid;
  grid-auto-rows: auto;
}
.message {
  display: grid;
  grid-template-columns: 150px 300px 100px;
  grid-auto-rows: auto;
}

.content {
  word-wrap: break-word;
  max-width: 300px;
}

@font-face {
  font-family: 'Ancient-Modern-Tales';
  src: url('/fonts/AncientModernTales-a7Po.ttf') format('TrueType');
}

#d-title {
  height: 200px;
}
input {
  margin: auto;
  font-family: 'Ancient-Modern-Tales';
  font-size: 17px;
  background-color: transparent;
  border: none;
  border-style: hidden;
  text-align: center;
}
input::placeholder {
  text-align: center;
  color: #816f6f;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#selfie {
  margin: auto;
  height: 300px;
  width: auto;
}
